test.py
tmp/
dist/
venv/
.docker/mongodb/data/journal
.docker/mongodb/data/diagnostic.data
.docker/mongodb/data/*.wt
.docker/mongodb/data/*.bson
.docker/mongodb/data/*.lock
.docker/mongodb/data/WiredTiger*
.docker/mongodb/data/*.turtle

node_modules/
/.idea
/.vs_code
/build
/coverage
.env
firebase-client
test.ts
server.cert
server.key
.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
server.cert
server.key
.clinic


